@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background: #f2f8ff;
  --primary: #ff793f;
  --secondary: #0f4189;
  --text: #0f4189;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: var(--text);

  background-image: hsla(216, 36%, 86%, 1);

  background-image: linear-gradient(135deg, hsla(216, 36%, 86%, 1) 0%, hsla(18, 100%, 95%, 1) 100%) no-repeat;

  background-image: -moz-linear-gradient(135deg, hsla(216, 36%, 86%, 1) 0%, hsla(18, 100%, 95%, 1) 100%);

  background-image: -webkit-linear-gradient(135deg, hsla(216, 36%, 86%, 1) 0%, hsla(18, 100%, 95%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D0DAE9", endColorstr="#FFEEE7", GradientType=1 );

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  padding-bottom: 48px;
}

.title {
  margin-bottom: 0;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  gap: 6px;
}

.link-icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-icon:last-child {
  margin-left: 12px;
}

.inputs-container {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  margin-bottom: 12px;
}

.number-input {
  width: 48px;
}

.remaining-bombs-wrapper {
  margin: 12px 0;
}

.remaining-bombs {
  font-size: 20px;
}

.restart-button {
  margin-top: 6px;
}

.board {
  gap: 8px;

  width: fit-content;

  padding-bottom: 24px;
  margin: 0 auto;
}

.cell {
  border-radius: 8px;
  display: grid;

  place-items: center;

  cursor: pointer;

  background: var(--background);
  box-shadow: rgb(201 201 201) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.hidden {
  background: linear-gradient(180deg, var(--primary), #ff7e46);

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.bomb {
  background: linear-gradient(180deg, #F04A2D, #B5270D);
  box-shadow: none;
}

.flag {
  background: var(--secondary);
}