body {
  height: 100vh;
}

.board {
  gap: 4px;

  border: 1px solid red;

  width: fit-content;

  padding: 12px;
}

.cell {
  border: 1px solid red;
  display: grid;

  place-items: center;

  cursor: pointer;
}

.hidden {
  background-color: #cccccc;
}

.bomb {
  background-color: #fb817f;
}

.flag {
  background-color: #fbff00;
}